.englishWord {
  width: 200px;
  background-color: bisque;
}

.result {
  width: 200px;
}

.divVerbs:hover {
  background-color: burlywood !important;
  font-weight: bold;
}
.navbarCom {
  background-color: blanchedalmond;
}
